{% extends "adminbase.html" %}
{% load static %}


{% block content %}

<div class="container-xxl flex-grow-1 container-p-y mt-5" style="background-color:#E6E6FA">
        
        {% if message %}
          <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
                  {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endif %}

    <!-- Product List Table -->
    <div class="card-body card-widget-separator" style="border: 5px solid #A67BCA;">
    <div class="card">
        
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <a href="{% url "AddCoupon" %} " class="btn btn-success">Add Coupon</a>
                
            </div>
            <div class="card-datatable table-responsive">
                <h3 class="text-center mb-4">Product Offers</h3>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>NO</th>
                            <th>Coupon Code</th>
                            <th>DISCOUNT</th>
                            <th>STARTDATE</th>
                            <th>EXPDATE</th>
                            <th>LIMIT</th>
                            <th>USED COUNT</th>
                            <th>Min Amount</th>
                            <th>Max Amount</th>
                            <th>STATUS</th>
                            <th style="width: 30%;">ACTION</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in coupon %}
                        
                        
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{b.code}}</td>
                            <td>{{b.discount_percentage|floatformat:0}} %</td>
                            <td>{{b.start_date | date:"d-m-Y" }}</td>
                            <td>{{b.end_date| date:"d-m-Y"}}</td>
                            <td>{{b.usage_limit}}</td>
                            <td>{{b.used_count}}</td>
                            <td>{{b.min_purchase_amount}}</td>
                            <td>{{b.max_discount_amount}}</td>
                            <td>
                                 <select class="form-control" name="status">
                                        {% if b.active %}
                                        <option value="True" selected>Active</option>
                                        
                                        {% else %}
                                        
                                        <option value="False" selected>Inactive</option>
                                        {% endif %}
                                    </select>
                            </td>
                            <td >
                                <a href="{% url "Editcoupon" b.id %}" class="btn btn-primary mb-1">Edit</a>
                                <a href="{% url "deleteCoupon" b.id %}" class="btn btn-danger">Delete</a>
                            
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>



                      
            

{% endblock content%}
{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock js %}