{% extends "base1.html" %}
{% load static %}
{% block content %}
<main class="main">
    
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                {% comment %} <li class="breadcrumb-item"><a href="#">No Sidebar</a></li> {% endcomment %}
                <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="toolbox">
                <div class="toolbox-left">
                    <a href="#" class="sidebar-toggler"><i class="icon-bars"></i>Filters</a>
                </div><!-- End .toolbox-left -->

                <form id="sort-form" method="get">
                    <div class="toolbox-right">
                        <div class="toolbox-sort">
                            <label for="sort_by">Sort by:</label>
                            <div class="select-custom">
                                <select name="sort_by" id="sortby" class="form-control" onchange="document.getElementById('sort-form').submit();">
                                    <option value="popularity" {% if sort_by == 'popularity' %}selected{% endif %}>Most Popular</option>
                                    <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Date</option>
                                    <option value="price_low_high" {% if sort_by == 'price_low_high' %}selected{% endif %}>Price: Low to High</option>
                                    <option value="price_high_low" {% if sort_by == 'price_high_low' %}selected{% endif %}>Price: High to Low</option>
                                    <option value="average_ratings" {% if sort_by == 'average_ratings' %}selected{% endif %}>Average Ratings</option>
                                    <option value="a_to_z" {% if sort_by == 'a_to_z' %}selected{% endif %}>A - Z</option>
                                    <option value="z_to_a" {% if sort_by == 'z_to_a' %}selected{% endif %}>Z - A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div><!-- End .toolbox -->

            <div class="products">
                <div class="row" id="filteredProducts">
                    <p class="ajaxLoader">\Loading....</p>
                    {% for p in product_offer %}
                    
                    
                    <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                        <div class="product">
                            <figure class="product-media">

                                {% if p.product_is_stock_out %}
                                <div class="badge bg-light text-dark" style="position: absolute; top: 8px; left: 8px; font-size: 1em;">

                                    Stock Out
                                </div>
                                
                                {% elif  p.offer %}
                        
                                    <div class="badge bg-light text-dark" style="position: absolute; top: 8px; left: 8px; font-size: 1em;">

                                        {{ p.offer.discount_percentage|floatformat:0 }}% Off
                                    </div>
                                {% endif %}
                                
                                {% comment %} <span class="product-label label-new">New</span> {% endcomment %}

                                <a href={% url "product_detail" p.product.id %}>
                                    {% with variant=p.product.indproduct.all.0 %}
                                    {% if variant and variant.variantimages_set.all %}
                                        
                                        <img src="{{ variant.variantimages_set.all.0.image.url }}" alt="Product image" class="product-image">
                                
                                    {% endif %}
                                    {% endwith %}

                                </a>

                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{p.product.category.title}}</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="{% url "product_detail" p.product.id %}">{{p.product.title}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    {% if p.offer %}
                                    <span class="new-price">Now {{ p.discounted_price|floatformat:0 }}</span>
                                    <span class="old-price">Was {{ p.product.price }}</span>
                                    {% else %}
                                    <span class="new-price"> {{ p.product.price }}</span>
                                    {% endif %}
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: {{p.double_avg_rating}}%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( {{p.reviews.count}} Reviews )</span>
                                </div><!-- End .rating-container -->

                               <div class="product-nav product-nav-dots">
                                    {% for colour in p.product.indproduct.all %}
                                    
                                    <a href="#" style="background: {{colour.colour}};"><span class="sr-only">{{colour.colour}}</span></a>
                                    {% endfor %}
                                </div><!-- End .product-nav --> 
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                    
                    {% endfor %}
                </div><!-- End .row -->

                <div class="load-more-container text-center">
                    <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                </div><!-- End .load-more-container -->
            </div><!-- End .products -->

            <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
            <aside class="sidebar-shop sidebar-filter">
                <div class="sidebar-filter-wrapper">
                    <div class="widget widget-clean">
                        <label><i class="icon-close"></i>Filters</label>
                        <a href="" class="sidebar-filter-clear">Clean All</a>
                    </div><!-- End .widget -->
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                Category
                            </a>
                        </h3><!-- End .widget-title -->


                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count">
                                    {% for cat in category %}
                                    
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="cat-{{ forloop.counter }}" data-filter="category" value="{{cat.id}}">
                                            <label class="custom-control-label" for="cat-{{ forloop.counter }}">{{cat.title}}</label>
                                        </div><!-- End .custom-checkbox -->
                                        
                                    </div><!-- End .filter-item -->
                                    {% endfor %}

                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    
                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
                                Size
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-2">
                            <div class="widget-body">
                                <div class="filter-items">
                                    {% for size in size %}
                                    
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="size-{{ forloop.counter }}" data-filter="size" value="{{size.id}}">
                                            <label class="custom-control-label" for="size-{{ forloop.counter }}">{{size.size}}</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    {% endfor %}

                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                colour
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-4">
                            <div class="widget-body">
                                <div class="filter-items">
                                    {% for c in variant %}
                                    
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="colour-{{ forloop.counter }}" data-filter="colour" value="{{c.id}}">
                                            <label class="custom-control-label" for="colour-{{ forloop.counter }}" style=
                                            "display: inline-block; 
                                            width: 20px; 
                                            height: 20px; 
                                            margin:4px;
                                            border-radius: 30%; 
                                            background: {{ c.colour }}; 
                                            border: 1px solid #ccc;"></label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    {% endfor %}
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                    

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                Brand
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-4">
                            <div class="widget-body">
                                <div class="filter-items">
                                    {% for b in brand %}
                                    
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="brand-{{ forloop.counter }}" data-filter="brand" value="{{b.id}}">
                                            <label class="custom-control-label" for="brand-{{ forloop.counter }}">{{b.title}}</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    {% endfor %}
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-price" role="button" aria-expanded="true" aria-controls="widget-price">
                                Price
                            </a>
                        </h3><!-- End .widget-title -->
                    
                        <div class="collapse show" id="widget-price">
                            <div class="widget-body">
                                <div class="filter-items">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="price-1" data-filter="price" value="0-500">
                                            <label class="custom-control-label" for="price-1">0 - 500</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="price-2" data-filter="price" value="500-1000">
                                            <label class="custom-control-label" for="price-2">500 - 1000</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="price-3" data-filter="price" value="1000-1500">
                                            <label class="custom-control-label" for="price-3">1000 - 1500</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="price-4" data-filter="price" value="1500-2000">
                                            <label class="custom-control-label" for="price-4">1500 - 2000</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input filter-checkbox" id="price-5" data-filter="price" value="2000-100000">
                                            <label class="custom-control-label" for="price-5">above 2000</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                    

                </div><!-- End .sidebar-filter-wrapper -->
            </aside><!-- End .sidebar-filter -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock content %}
{% block js %}
<script src="{% static 'filter.js' %}"></script>
<script src="{% static 'assets/js/wNumb.js' %}"></script>

    <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
{% endblock js %}
